<h1>Movies database</h1>
<h3>Search by title</h3>
  <label for="name">
    Movie Name
  </label>
  <input id="movie_title" type="text" name="movie_name" placeholder="Enter movie name">
  <button id="search">Search</button>

<div id="poster">
  
</div>
