<h1>Music:</h1>


<h2>SoundCloud</h2>
<div class="form">
  <label for="name">Genre</label>
  <input type="text" id="genre_input" placeholder="Genre">
  <button id="search_music" type="submit">Search</button>
  <br>
  <label for="name">Title</label>
  <input type="text" id="title_input" placeholder="Enter the title">
  <button id="search_title" type="submit">Search</button>
</div>


<div class="panel panel-default info hidden">
    <div class="panel-heading">Info</div>
    <table>
      <tr>
        <td> Number of tracks </td>
        <td id="numOfTracks"></td>
      </tr>
      <tr>
        <td>Title</td>
        <td id="title"></td>
      </tr>
      <tr>
        <td>Description</td>
        <td id=description></td>
      </tr>
      <tr>
        <td>Duration</td>
        <td id="duration"></td>
      </tr>
      <tr>
        <td>Comments count</td>
        <td id="commentCount"></td>
      </tr>
      <tr>
        <td>Genre</td>
        <td id="genre"></td>
      </tr>
      <tr>
        <td>Created at</td>
        <td id="creationTime"></td>
      </tr>
      <tr>
        <td>Last modified</td>
        <td id="lastUpdatedTime"></td>
      </tr>
      <tr>
        <td>Original format</td>
        <td id="format"></td>
      </tr>
      <tr>
        <td>Video</td>
        <td id="video"></td>
      </tr><tr>
        <td></td><td></td>
      </tr>

    </table>
</div>
