* {
  /*text-align:center;*/
  margin:10px;
  color:black;
}
body {
  background-image: url('/images/marvel1.jpg');
  background-size: cover;
}
img {
  height:200px;
  width:200px;
}

input {
  display: block;
  /*text-align:center;*/
}
button {
  color:black;
  background-color: #d0d0d0;
}
table {
  width:850px;
}
td {
  height:20px;
  overflow: scroll;
  text-overflow: ellipsis;
}
nav {
  display : inline;
  align : right;
}
