<div>
  <h1>Adding a HERO</h1>
  <form action="/heros/add" method="post">
   <input type="text" name="character_name" placeholder="Character Name" >
    <input type="text" name="human_name" placeholder="Human Name">
    <input type="text" name="actor_name" placeholder="Actor Name">
    <input type="text" name="bio" placeholder="Bio">
    <input type="text" name="super_powers" placeholder="Super Powers">
    <input type="boolean" name="hero" placeholder="1 - Hero 2 - Villian">
    <input type="text" name="linked_to" placeholder="Linked To">
    <input type="url" name="comic_image" placeholder="Comic Image">
    <input type="url" name="character_image" placeholder="Character image">
    <button>Add My HERO</button>
  </form>

</div>

<div>
  <a href='/heros'>Home</a>
</div>
