<p>
  Movie searched is <%= @movie_title %>
</p>
  <p>
    Year of release: <%= @year %>
  </p>
  <p>
    Type: <%= @type %>
  </p>
<p>
  <img src="<%= @img_url %>" >
</p>

<form action="/" method="get">
  <button>Home</button>
</form>
