<h1>Marvel Time</h1>
<label for="name"></label>
<input type="text" name="name" id="marvel_name">
<button id="search">Search</button>


<form>
  <label for="name"></label>
  <input type="text" name="name" id="marvel_name">
  <button id="search" type="submit">Search</button>
</form>
